



    1



  a
    b + c56f
45b ( "ohai"
"bla \n blo \" ohi \\"
'a' '\n' '\\' '5'
    '\\'

  -5 true let letrue false

let x = 5
let b = true

let gcd a b =
  if b = 0 then
    a
  else
    gcd b (a % b)

let add a b = a

let x = add 5 "a"

log (gcd 49 35)
5true





